.searchHeader {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  gap: 10px;
}

.searchHeader__container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.searchHeader__container__button {
  svg {
    min-width: 16px;
  }
}
