.lawyer-edit__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 24px 0 24px;
}

.lawyer-edit__header-actions {
  display: flex;
  gap: 16px;
}

:global {
  .ant-tabs {
    width: 100% !important;
  }

  .ant-tabs-content-holder {
    width: 100% !important;
  }

  .ant-tabs-tabpane {
    width: 100% !important;
  }
}

.lawyer-edit__header-title {
  font-size: 1.25rem;
  font-weight: 600;
  color: #333;
}
